.container--footer--widget{

	display: 			block;
	width: 				100%;
	overflow: 			hidden;
	padding-bottom:		30px;
	@include breakpoint($breakpoint-small){
		padding-bottom: 	5px;
	}





	.footer--widget{

		width: 				1170px;
		margin:				0 auto;
		@extend				.clearfix;

		@include breakpoint($breakpoint-large){
			width: 				960px;
		}
		@include breakpoint($breakpoint-medium){
			width: 				768px;
		}
		@include breakpoint($breakpoint-small){
			@include calc(width,"100% - 30px");
		}

	}






	.widget{

		display: 			block;
		padding-top:		30px;
		padding-bottom:		30px;
		margin-right: 		30px;
		@include 			calc(width,"(100% - 90px) / 4");
		@include 			float-left;
		@include breakpoint($breakpoint-small){
			width: 				100%;
			padding-bottom: 	0px;
			padding-top: 		5px;
			margin-right: 		0px;
		}

		&:nth-child(4n+1){

			@extend 			.clear;

		}
		&:nth-child(4n){

			margin-right: 		0px;

		}


		.widget__title{

			padding-bottom: 	10px;
			width: 				100%;

			@include breakpoint($breakpoint-small){
				padding-bottom:		0px;
			}

			h2{

				i{

					&.widget__icon{

						margin-right: 		15px;

					}
				}
			}
		}






		.widget__content{
			
			width: 				100%;

			ul{

				li{

					list-style: 			none;
					margin-bottom:			6px; 

					p.widget__content--announcement__date{
						
						margin-bottom: 			5px;
						margin-top: 			0;

					}

					p.widget__content--announcement__title{
						
						margin-top: 			0;
						margin-bottom: 			15px;

						i{
							margin-right: 		10px;
						}

					}

				}

			}

		}






		&.widget--statistics{

			.widget__content--statistics{

				.statistics__count{

					@include 			float-right;
					padding-right:		30px;

				}

			}

		}






		&.widget--contacts{
			
			.widget__content--contacts{
			
				span.contacts__number{

					margin-left: 		10px;

					i{

						margin-right: 		10px;
					
					}

				}

				@include breakpoint($breakpoint-medium){
					span{
						display: 			block;
						margin-top: 		5px;
						margin-bottom: 		20px;
					}
				}

			}

		}

	}

}







.container--footer--copyright{
	
	display: 			block;
	width: 				100%;
	overflow: 			hidden;

	.footer--copyright{

		width: 				1170px;
		margin:				0 auto;
		@extend				.clearfix;

		@include breakpoint($breakpoint-large){
			width: 				960px;
		}
		@include breakpoint($breakpoint-medium){
			width: 				768px;
		}
		@include breakpoint($breakpoint-small){
			@include calc(width,"100% - 30px");
		}

	}
}