$primary-color: 		#0ebcba;
$secondary-color:		#df232a;	






$font-1: 				'DOSIS', Helvetica, Arial, sans-serif;
$font-2: 				'Open Sans', sans-serif; 
$font-1-weight-1:		500;
$font-1-weight-2:		700;
$h1-size:				36px;
$h1-size-mobile:		30px;
$h2-size:				24px;
$h3-size:				18px;
$h4-size:				14px;
$p-size:				12px;






$text-color-1:			#000000;
$text-color-2:			#414141;
$text-color-3:			#6d6d6d;
$text-color-4:			#c8c8c8;
$text-color-5:			#FFFFFF;






$background-color-1:	#FFFFFF;
$background-color-2:	#f7f7f7;
$background-color-3:	#323232;
$background-color-4:	#1f1f1f;






$border-color-1:		#c8c8c8;





$error-color:			#df232a;
$success-color:			#68b809;
$twitter-color:			#01acee;
$facebook-color:		#4059a5;




$button-background-1:	#FFFFFF;






$breakpoint-extra:1200px;
$breakpoint-large:max-width 1119px;
$breakpoint-medium:max-width 959px;
$breakpoint-small:max-width 767px;
$breakpoint-x-small:max-width 240px;






