p{
 	font-family: 		$font-2;
 	font-size: 			$p-size;
 	line-height: 		160%;
 }

 a{
 	text-decoration: 	none;
 	color: 				$primary-color;
 }

@include breakpoint($breakpoint-small){
	h1{
		font-size: 		$h1-size-mobile;
		line-height: 	120%;
	}
	h2{
		font-size: 		$h3-size;
		line-height: 	120%; 
	}
}