/**
 *
 * slippry v1.2.7 - Responsive content slider for jQuery
 * http://slippry.com
 *
 * Authors: Lukas Jakob Hafner - @saftsaak
 *          Thomas Hurd - @SeenNotHurd
 *
 * Copyright 2014, booncon oy - http://booncon.com
 *
 *
 * Released under the MIT license - http://opensource.org/licenses/MIT
 */
 
@import "compass";

$color_high: #e24b70 !default;     // highlight colour
$color_gray: #ccc !default;        // neutral colour
$controls_size: 2.8em !default;    // size of the next/ prev buttons
$pager_size: 1.2em !default;       // size of the pager bubbles
$trans_ease: ease !default;        // easing for the transitions
$mobile_break: 767px !default;     // breakpoint to use some special mobile styling


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation ($animation) {
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards;
  animation-name: $animation;
  animation-fill-mode: forwards;
}

/* kenBurns animations, very basic */
@include keyframes(left-right) {
  0% {
    @include transform(translateY(-20%) translateX(-10%));
  }
  100% {
    @include transform(translateY(0%) translateX(10%));
  }
}
@include keyframes(right-left) {
  0% {
    @include transform(translateY(0%) translateX(10%));
  }
  100% {
    @include transform(translateY(-20%) translateX(-10%));
  }
}

/* added to the original element calling slippry */
.sy-box {
  position:relative;
  &.sy-loading {
    .sy-slides-wrap, .sy-pager {
      visibility: hidden;
    }
    //background: url(/images/sy-loader.gif) 50% 50% no-repeat;
    @include background-size(32px);
    min-height: 40px;
  }
}
/* element that wraps the slides */
.sy-slides-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  &:hover {
    .sy-controls {
      display: block;
    }
  }
}
/* element that crops the visible area to the slides */
.sy-slides-crop {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
/* list containing the slides */
.sy-list {
  &.horizontal {
    @include transition(left $trans_ease);
  }
  &.vertical {
    @include transition(top $trans_ease);
  }
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
/* single slide */
.sy-slide {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 100%;
  &.kenburns {
    width: 140%;
    left: -20%;
    &.useCSS {
      &.sy-ken {
        &:nth-child(1n) {
          @include animation(left-right);
        }
        &:nth-child(2n) {
          @include animation(right-left);
        }
      }
      @include transition-property(opacity);
    }  
  }
  &.sy-active {
    z-index: 3;
  }
  >a { // styling for link on whole slide
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    >img { // with one image as content -> full size
      margin: 0;
      padding: 0;
      display: block;
      width: auto;
      border: 0;
      max-width: auto;
      min-height: 100%;
      min-width: 100%;
    }
  }

  @include breakpoint($breakpoint-small){
    height: 200px;
    a{
      height: 200px;
      > img{
        min-height: 200px;
        width: auto;
        max-width:auto;
        min-width: 100%;
        @include calc(max-height,"100% + 140px");
      }
    }
  }
}
/* next/ prev buttons, with arrows and clickable area a lot larger than the visible buttons */
.sy-controls {
  display: none;
  list-style: none;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  li {
    position: absolute;
    width: 10%;
    min-width: $controls_size * 1.5;
    height: 100%;
    z-index: 4;
    &.sy-prev {
      left: 0;
      top: 0;
      a {
        &:after {
          background-position: -5% 0;
        }
      }
    }
    &.sy-next {
      right: 0;
      top: 0;
      a {
        &:after {
          background-position: 105% 0;
        }
      }
    }
    a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      text-indent: -9999px;
      &:link, &:visited {
        opacity: 0.4;
      }
      &:hover, &:focus {
        opacity: 0.8;
        outline: none;
      }
      &:after {
        content: "";
        background-image: url(/images/arrows.svg);
        background-repeat: no-repeat;
        @include background-size(cover);
        text-align: center;
        text-indent: 0;
        line-height: $controls_size;
        color: #111;
        font-weight: 800;
        position: absolute;
        background-color: #fff;
        width: $controls_size;
        height: $controls_size;
        left: 50%;
        top: 50%;
        margin-top: -$controls_size / 2;
        margin-left: -$controls_size / 2;
        @include border-radius(50%);
      }
    }
  }  
  @media only screen and (max-device-width : $mobile_break) {
    display: block;
    $controls_size: $controls_size / 2;
    li {
      min-width: $controls_size * 1.5;
      a {
        &:after {
          width: $controls_size;
          height: $controls_size;
          margin-top: -$controls_size / 2;
          margin-left: -$controls_size / 2;
        }
      }
    }
  }
}
/* captions, styled fo the overlay variant */
.sy-caption-wrap {
  position: absolute;
  top: 70px;
  z-index: 4;
  left: 70px;
  .sy-caption {
    position: relative;
    background-color: $primary-color;
    color: #fff;        
    padding: 15px 30px;
    font-size: $h1-size;
    font-family: $font-1;
    font-weight: $font-1-weight-1;
    max-width: 570px;
    @include breakpoint($breakpoint-medium){
      max-width: 468px;
    }
    a {
      &:link, &:visited {
        color: $color_high;
        font-weight: 600;
        text-decoration: none;
      }
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
  @include breakpoint($breakpoint-small){
    top:  30px;
    left: 70px;
    width: 100%;
    .sy-caption{
      font-size: $h3-size;
      @include calc(max-width,"100% - 140px");
    }
  }
}
/* pager bubbles */
.sy-pager {
  @include clearfix;
  display: block;
  width: 100%;
  margin: 1em 0 0;
  padding: 0;
  list-style: none;
  text-align: left;
  position:absolute;
  z-index: 3;
  left: 70px;
  bottom:70px;
  li {
    display: inline-block;
    width: $pager_size;
    height: $pager_size;
    margin: 0 1em 0 0;
    @include border-radius(50%);
    &.sy-active {
      a {
        background-color: $primary-color;
      }
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      background-color: #FFFFFF;
      text-indent: -9999px;
      &:link, &:visited {
        opacity: 1.0;
      }
      &:hover, &:focus {
        opacity: 1.0;
      }
      @include background-size(2em);
      @include border-radius(50%);
    }
  }
  @include breakpoint($breakpoint-small){
    top: 140px;
    overflow: visible;
  }
}
/* element to "keep/ fill" the space of the content, gets intrinsic height via js */
.sy-filler {
  width: 100%;
  &.ready {
    @include transition(padding 600ms ease);
  }
}